#### Ciência de Dados com Python/IA - SENAI-DF - Vespertino - 0/08/2024 - Marcelo Pereira Avelino

*`A execução do código das próximas 3 (três) células é necesária para dar continuidade a aula de hoje.`*

In [234]:
# 1. Importação de Bibliotecas - Bibliotecas necessárias para a execução dos comandos SQL e manipulação de dados:
import pandas as pd
import urllib.parse
from sqlalchemy import create_engine

In [235]:
# 2. Definindo a Conexão com o Banco de Dados - Configurando a conexão com o banco de dados MySQL:
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host = 'localhost'  # ou o endereço do seu servidor de banco de dados
database = 'scooltracker'

# Crie uma URL de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# Crie um engine do SQLAlchemy
engine = create_engine(connection_string)

In [236]:
# 3. Escreva sua consulta SQL
query_alunos = "SELECT * FROM aluno"

# Use pandas para executar a consulta e importar os dados
df_alunos = pd.read_sql(query_alunos, engine)

# Mostre os primeiros registros do DataFrame
df_alunos.head()

   id        ra  nome  tempoestudo rendafamiliae
0  55  00034549  None            0          None
1  56  00034547  None            0          None
2  57  00034550  None            0          None
3  58  00034551  None            0          None
4  59  00034552  None            0          None

In [237]:
# Retorne o DataFrame da última aula com as duas primeiras linhas como amostras.

df_tempo_renda = df_alunos[['tempoestudo', 'rendafamiliae']]
df_tempo_renda.head(2)

   tempoestudo rendafamiliae
0            0          None
1            0          None

In [238]:
# Retorne o DataFrame da última aula com as duas últimas linhas como amostras.

df_tempo_renda = df_alunos[['tempoestudo', 'rendafamiliae']]
df_tempo_renda.tail(2)

    tempoestudo rendafamiliae
97            0          None
98            0          None

In [239]:
# Retorne o DataFrame da última aula e apresente uma tupla com números de linhas e colunas.
df_tempo_renda.shape
# Shape é um método/Function.

(99, 2)

In [240]:
# Retorne o DataFrame da última aula e apresente todas as informações gerais do DataFrame
df_tempo_renda.info()
# 'info()' = Método/Function

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tempoestudo    99 non-null     int64
 1   rendafamiliae  0 non-null      object
dtypes: int64(1), object(1)
memory usage: 1.7+ KB

In [241]:
# Retorne o DataFrame da última aula e verifique a quantidade de registros
# `df_tempo_renda` é o DataFrame retornado anteriormente, contendo as colunas 'tempoestudo' e 'rendafamiliar'
qtde = len(df_tempo_renda)  # Conta o número de registros (linhas) no DataFrame

# Verifica se a quantidade de registros é menor ou igual a 20
if qtde <= 20:
    print(f"Quantidade: {qtde} dentro do ideal.")  # Se for, imprime uma mensagem indicando que a quantidade está dentro do ideal.

In [242]:
# Retorne o DataFrame da última aula e retorne as colunas.
# Aqui estamos assumindo que 'df_tempo_renda' é um DataFrame já carregado com os dados de interesse.
# O método 'columns' do DataFrame retorna uma lista com os nomes das colunas do DataFrame.
df_tempo_renda.columns

Index(['tempoestudo', 'rendafamiliae'], dtype='object')

In [243]:
# Retorne o DataFrame da última aula e retorne informações apenas da coluna rendafamiliar
# Aqui estamos assumindo que 'df_tempo_renda' é um DataFrame já carregado com os dados de interesse.
# Selecionamos a coluna 'rendafamiliar' do DataFrame 'df_tempo_renda' utilizando a notação de colchetes.
# O método 'info()' fornece informações sobre o DataFrame, como o número de entradas, o tipo de dados, e se há valores nulos.
# No caso de uma única coluna, 'info()' retornará informações específicas dessa coluna.
df_tempo_renda['rendafamiliae'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 99 entries, 0 to 98
Series name: rendafamiliae
Non-Null Count  Dtype
--------------  -----
0 non-null      object
dtypes: object(1)
memory usage: 924.0+ bytes

In [244]:
# Mostre os tipos de dados com dtypes do DataFrame 'df_alunos'

# A linha de código abaixo retorna os tipos de dados de cada coluna no DataFrame 'df_alunos'.
# O atributo 'dtypes' do DataFrame fornece uma série com o nome da coluna como índice e o tipo de dados da coluna como valor.
df_alunos.dtypes

# Resultado esperado:
# A execução deste comando irá produzir uma saída similar à seguinte:
#
# id               int64
# ra              object
# nome            object
# tempoestudo      int64
# rendafamiliar  float64
# dtype: object
#
# Esta saída mostra os tipos de dados de cada coluna no DataFrame 'df_alunos':
# - 'id' é do tipo int64 (inteiro de 64 bits).
# - 'ra' e 'nome' são do tipo object, que é geralmente usado para strings.
# - 'tempoestudo' é do tipo int64.
# - 'rendafamiliar' é do tipo float64 (número de ponto flutuante de 64 bits).

id                int64
ra               object
nome             object
tempoestudo       int64
rendafamiliae    object
dtype: object

In [245]:
# Estatística descritiva do DataFrame 'df_alunos'

# A linha de código abaixo gera estatísticas descritivas do DataFrame 'df_alunos'.
# O método 'describe()' do DataFrame retorna uma tabela com estatísticas resumidas
# das colunas numéricas, como contagem, média, desvio padrão, valores mínimo e máximo,
# e os quartis (25%, 50%, e 75%).

df_alunos.describe()

# Resultado esperado:
# A execução deste comando irá produzir uma saída similar à seguinte:
#
#               id  tempoestudo  rendafamiliar
# count  20.000000    20.000000      20.000000
# mean   10.500000     5.500000    2750.375000
# std     5.916080     1.581139     738.627760
# min     1.000000     3.000000    1500.400000
# 25%     5.750000     4.000000    2300.000000
# 50%    10.500000     5.500000    2700.300000
# 75%    15.250000     7.000000    3100.175000
# max    20.000000     8.000000    4200.400000
#
# Esta saída mostra as seguintes estatísticas para as colunas numéricas do DataFrame 'df_alunos':
# - 'id': O identificador único do aluno.
# - 'tempoestudo': O tempo de estudo do aluno.
# - 'rendafamiliar': A renda familiar do aluno.
#
# Para cada coluna numérica, as seguintes estatísticas são fornecidas:
# - count: O número de valores não nulos.
# - mean: A média dos valores.
# - std: O desvio padrão dos valores.
# - min: O valor mínimo.
# - 25%: O primeiro quartil (25% dos dados são menores que este valor).
# - 50%: O segundo quartil ou mediana (50% dos dados são menores que este valor).
# - 75%: O terceiro quartil (75% dos dados são menores que este valor).
# - max: O valor máximo.

               id  tempoestudo
count   99.000000         99.0
mean   104.484848          0.0
std     29.158736          0.0
min     55.000000          0.0
25%     79.500000          0.0
50%    104.000000          0.0
75%    129.500000          0.0
max    154.000000          0.0

*`Exercicio Avaliativo - DataFrame 'pd_diariobordo'`*

- Crie o cenário de utilização de recursos considerando a tabela 'diariobordo'

In [246]:
# Realizando a consulta SQL na  tabela diariobordo
query_diariobordo = "SELECT * from diariobordo"

In [247]:
# Criando o dataframe conforme consulta realizada
df_diariobordo = pd.read_sql(query_diariobordo,engine)

In [248]:
# Mostrando os cinco primeiros registros do DataFrame df_diariobordo
df_diariobordo.head(5)

,id,texto,datahora,fk_Aluno_id
0,1,texto de exemplo,2024-07-31 15:00:00,34597
1,2,texto de exemplo,2024-07-31 15:00:00,34597
2,3,inserindo dados do aluno na tabela usando o ch...,2024-07-31 17:48:00,175964

In [249]:
# Mostrando os cinco últimos registros do DataFrame df_diariobordo
df_diariobordo.tail(5)

,id,texto,datahora,fk_Aluno_id
0,1,texto de exemplo,2024-07-31 15:00:00,34597
1,2,texto de exemplo,2024-07-31 15:00:00,34597
2,3,inserindo dados do aluno na tabela usando o ch...,2024-07-31 17:48:00,175964

In [250]:
# Retorne o DataFrame da última aula e apresente uma tupla com números de linhas e colunas.
df_diariobordo.shape

(3, 4)

In [251]:
# Retorne o DataFrame da última aula e retorne as colunas.
df_diariobordo.columns

Index(['id', 'texto', 'datahora', 'fk_Aluno_id'], dtype='object')

In [252]:
# Gerando um CSV do dataframe 'df_diariobordo'
csv_filename = 'diario.csv'
df_diariobordo.to_csv(csv_filename, index=False)

*`Exercicio Avaliativo - DataFrame 'pd_avaliacao'`*

- Crie o cenário de utilização de recursos considerando a tabela 'avaliacao'

In [253]:
# Realizando a consulta SQL na  tabela diariobordo
query_scootracker = "SELECT * from avaliacao"

In [254]:
# Criando o dataframe conforme consulta realizada
df_diariobordo = pd.read_sql(query_diariobordo,engine)

In [255]:
# Gerando um CSV do dataframe 'df_avaliacao'
csv_filename = 'api_alunos.json'
df_alunos.to_json (csv_filename, index=False)

In [256]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from openpyxl) (1.1.0)

In [257]:
csv_filename = 'planilha_alunos.xlsx'
df_alunos.to_excel(csv_filename,index=False)

In [258]:
df_alunos.columns

Index(['id', 'ra', 'nome', 'tempoestudo', 'rendafamiliae'], dtype='object')

In [259]:
df_tempo_renda = df_alunos[['tempoestudo', 'rendafamiliae']]
df_tempo_renda

    tempoestudo rendafamiliae
0             0          None
1             0          None
2             0          None
3             0          None
4             0          None
..          ...           ...
94            0          None
95            0          None
96            0          None
97            0          None
98            0          None

[99 rows x 2 columns]

In [260]:
# Fatiamento

# O código abaixo realiza uma operação de fatiamento no DataFrame 'df_avaliacao'.
# Fatiamento é uma técnica usada para selecionar uma faixa contínua de linhas de um DataFrame.

# O comando 'df_avaliacao[5:10]' seleciona as linhas do DataFrame 'df_avaliacao'
# começando da linha de índice 5 até, mas não incluindo, a linha de índice 10.
# Em outras palavras, ele retorna as linhas de índice 5, 6, 7, 8 e 9.

df_diariobordo[5:10]

# Resultado esperado:
# A execução deste comando irá produzir uma saída similar à seguinte, considerando
# que 'df_avaliacao' tem dados e colunas como 'id', 'nota1', 'nota2', 'nota3', 'nota4', 'fk_aluno_id

Empty DataFrame
Columns: [id, texto, datahora, fk_Aluno_id]
Index: []

In [262]:
-- JOIN IN PANDAS
-- Consulta realizada

SELECT
	d.texto,
    a.ra
    FROM
    diariobordo d
	JOIN
	aluno a
    ON d.fk_aluno_id = a.id;

    /*
    `VAMOS FAZER UM JOIN?`

#### Passos para o 'Merge
- Use o comando 'merge'
- Crie uma variável 'resultado'
- pd.merge(dataframe1,dataframe2,tipo_união,qual chave da esquerda, qual chave da direita) = resultado = pd.merge(df_diariobordo,df_alunos, how='left', left_on='fk_aluno_id', right_on='id')
- qual o tipo de união: how='inner'
- Inner significa que queremos um join interno, o que resulta em apenas as linha que tem corcorrespondencia em ambos os dataframes.
/*

IndentationError: unindent does not match any outer indentation level (<string>, line 6)

In [ ]:
# EXEMPLO DE JOIN

# O método pd.merge() é usado para combinar dois DataFrames com base em uma ou mais colunas chave.
# Aqui, estamos combinando 'df_diariobordo' e 'df_alunos' usando um 'left join'.
# 'left join' significa que todas as linhas do DataFrame 'df_diariobordo' serão mantidas e os dados correspondentes do DataFrame 'df_alunos' serão adicionados com base na chave de junção.

# 'left_on' especifica a coluna no DataFrame da esquerda (df_diariobordo) que será usada como chave de junção.
# 'right_on' especifica a coluna no DataFrame da direita (df_alunos) que será usada como chave de junção.
# Aqui, estamos unindo com base na chave estrangeira 'fk_aluno_id' de 'df_diariobordo' e 'id' de 'df_alunos'.
resultado = pd.merge(df_diariobordo, df_alunos, how='left', left_on='fk_aluno_id', right_on='id')

KeyError: 'fk_aluno_id'

In [ ]:
# Selecionar as colunas desejadas
# Após a junção, o DataFrame 'resultado' terá todas as colunas de ambos os DataFrames.
# Aqui, estamos selecionando apenas as colunas 'texto', 'datahora' de 'df_diariobordo' e 'ra' de 'df_alunos' para simplificar a visualização.
resultado_selecionado = resultado[['texto', 'datahora', 'ra']]

NameError: name 'resultado' is not defined

In [ ]:
# Mostrar o resultado
# Exibe as primeiras linhas do DataFrame resultante 'resultado_selecionado' para ver a saída da junção.
resultado_selecionado.head()

In [ ]:
# Exercicio Avaliativo - Criar a Junção do Dataframe 'df_aluno' com o DataFrame 'df_avaliacao'. Apresentando as notas e o RA do Aluno ao final.

# DataFrame 'aluno' = df_alunos | DataFrame 'avaliacao' = df_avaliacao

# Realizar a junção (join) que será feita usando a coluna 'id' de 'df_alunos' e a coluna 'fk_aluno_id' de 'df_avaliacao'
resultado = pd.merge(df_avaliacao, df_alunos, how='inner', left_on='fk_aluno_id', right_on='id')

In [ ]:
# Selecionar as colunas desejadas: RA e notas
resultado_exercicio = resultado[['nota1', 'nota2', 'nota3', 'nota4', 'ra']]

In [ ]:
# Mostrar o resultado
resultado_selecionado.head(20)

# Web Scraping (raspagem de dados)

In [ ]:
! pip install lxml

Requirement already satisfied: lxml in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (5.2.2)

In [ ]:
! pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from html5lib) (1.16.0)
Collecting webencodings (from html5lib)
  Using cached webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, html5lib
Successfully installed html5lib-1.1 webencodings-0.5.1

In [ ]:
! pip instal beautifulsound4

ERROR: unknown command "instal" - maybe you meant "install"

In [ ]:
url = "https://www.uol.com.br/esporte/futebol/campeonatos/brasileirao//"
tabela_seriea = pd.read_html(url)
tabela_seriea

[                 classificação
 0               1° BotafogoBOT
 1               2° FlamengoFLA
 2              3° FortalezaFOR
 3              4° PalmeirasPAL
 4               5° CruzeiroCRU
 5              6° São PauloSPA
 6                  7° BahiaBAH
 7              8° AthleticoCAP
 8            9° Atlético-MGCAM
 9   10° Red Bull BragantinoBRG
 10                11° VascoVAS
 11             12° CriciúmaCRI
 12            13° JuventudeJUV
 13               14° GrêmioGRE
 14              15° VitóriaVIT
 15        16° InternacionalINT
 16           17° FluminenseFLU
 17          18° CorinthiansCOR
 18               19° CuiabáCUI
 19          20° Atlético-GOACG,
     PG   J   V  E   D  GC  GP  SG   %
 0   43  21  13  4   4  20  35  15  68
 1   40  20  12  4   4  20  34  14  67
 2   39  20  11  6   3  19  26   7  65
 3   37  21  11  4   6  17  28  11  59
 4   35  20  11  2   7  22  29   7  58
 5   35  21  10  5   6  21  29   8  56
 6   32  21   9  5   7  25  29   4  51
 7   28  19   8  4   7  20  22   2  49
 8   28  19   7  7   5  28  28   0  49
 9   26  19   7  5   7  23  24   1  46
 10  24  20   7  3  10  31  22  -9  40
 11  24  19   6  6   7  29  28  -1  42
 12  22  19   5  7   7  25  21  -4  39
 13  21  19   6  3  10  22  17  -5  37
 14  21  21   6  3  12  32  23  -9  33
 15  21  16   5  6   5  14  14   0  44
 16  20  20   5  5  10  24  16  -8  33
 17  20  21   4  8   9  28  19  -9  32
 18  17  19   4  5  10  25  19  -6  30
 19  12  21   2  6  13  35  17 -18  19,
                                        classificação
 0  {{team._index + 1}}° {{team.equipe['nome-comum...,
             PG           J           V           E           D           GP  \
 0  {{team.pg}}  {{team.j}}  {{team.v}}  {{team.e}}  {{team.d}}  {{team.gp}}

             GC           SG            %  \
 0  {{team.gc}}  {{team.sg}}  {{team.ap}}

                                        Últimos jogos
 0  {{game.weekDay | uppercase}}, {{game.newDate}}...  ]

In [ ]:
print(type(tabela_seriea))

<class 'list'>

In [ ]:
url = "https://www.tuasaude.com/calculadora/imc/"
tables = pd.read_html(url)
tables

[              IMC       Classificação
 0  Menor que 18,5             Magreza
 1     18,5 a 24,9              Normal
 2       25 a 29,9           Sobrepeso
 3       30 a 34,9    Obesidade grau I
 4       35 a 39,9   Obesidade grau II
 5    Maior que 40  Obesidade grau III]

In [ ]:
import pandas as pd

url = 'https://www.uol.com.br/esporte/futebol/campeonatos/brasileirao/'
tabelas = pd.read_html(url)

tabela_brasileirao = tabelas[0]

display(tabela_brasileirao)
type

                 classificação
0               1° BotafogoBOT
1               2° FlamengoFLA
2              3° FortalezaFOR
3              4° PalmeirasPAL
4               5° CruzeiroCRU
5              6° São PauloSPA
6                  7° BahiaBAH
7              8° AthleticoCAP
8            9° Atlético-MGCAM
9   10° Red Bull BragantinoBRG
10                11° VascoVAS
11             12° CriciúmaCRI
12            13° JuventudeJUV
13               14° GrêmioGRE
14              15° VitóriaVIT
15        16° InternacionalINT
16           17° FluminenseFLU
17          18° CorinthiansCOR
18               19° CuiabáCUI
19          20° Atlético-GOACG

pandas.core.frame.DataFrame

In [ ]:
tabela_brasileirao.head()

     classificação
0   1° BotafogoBOT
1   2° FlamengoFLA
2  3° FortalezaFOR
3  4° PalmeirasPAL
4   5° CruzeiroCRU

In [ ]:
tabela_brasileirao.tail()

           classificação
15  16° InternacionalINT
16     17° FluminenseFLU
17    18° CorinthiansCOR
18         19° CuiabáCUI
19    20° Atlético-GOACG

In [ ]:
tabela_brasileirao.shape

(20, 1)

In [ ]:
url = "https://www.terra.com.br/esportes/futebol/brasileiro-serie-a/tabela/#google_vignette"
tabela_seriea = pd.read_html(url)
tabela_seriea

[    Times  Times.1                  Times.2  Times.3   P   J   V  E   D  GP  \
 0       1      NaN              Botafogo >>   Subiu1  43  21  13  4   4  35
 1       2      NaN              Flamengo >>  Desceu1  40  20  12  4   4  34
 2       3      NaN             Fortaleza >>   Subiu1  39  20  11  6   3  26
 3       4      NaN             Palmeiras >>  Desceu1  37  21  11  4   6  28
 4       5      NaN              Cruzeiro >>      NaN  35  20  11  2   7  29
 5       6      NaN            SÃ£o Paulo >>      NaN  35  21  10  5   6  29
 6       7      NaN                 Bahia >>      NaN  32  21   9  5   7  29
 7       8      NaN          Athletico-PR >>      NaN  28  19   8  4   7  22
 8       9      NaN          AtlÃ©tico-MG >>      NaN  28  19   7  7   5  28
 9      10      NaN            Bragantino >>      NaN  26  19   7  5   7  24
 10     11      NaN         Vasco da Gama >>      NaN  24  20   7  3  10  22
 11     12      NaN             CriciÃºma >>      NaN  24  19   6  6   7  28
 12     13      NaN             Juventude >>      NaN  22  19   5  7   7  21
 13     14      NaN               GrÃªmio >>   Subiu2  21  19   6  3  10  17
 14     15      NaN              VitÃ³ria >>   Subiu2  21  21   6  3  12  23
 15     16      NaN         Internacional >>  Desceu2  21  16   5  6   5  14
 16     17      NaN            Fluminense >>   Subiu2  20  20   5  5  10  16
 17     18      NaN           Corinthians >>  Desceu3  20  21   4  8   9  19
 18     19      NaN               CuiabÃ¡ >>  Desceu1  17  19   4  5  10  19
 19     20      NaN  AtlÃ©tico Goianiense >>      NaN  12  21   2  6  13  17

     GC  SG   %
 0   20  15  68
 1   20  14  66
 2   19   7  65
 3   17  11  58
 4   22   7  58
 5   21   8  55
 6   25   4  50
 7   20   2  49
 8   28   0  49
 9   23   1  45
 10  31  -9  40
 11  29  -1  42
 12  25  -4  38
 13  22  -5  36
 14  32  -9  33
 15  14   0  43
 16  24  -8  33
 17  28  -9  31
 18  25  -6  29
 19  35 -18  19  ]

In [ ]:
print(type(tabela_seriea))

<class 'list'>

In [265]:
tabela_brasileirao = tabela_seriea[0]
tabela_brasileirao

                    Times.2   P   J   V  E   D  GP  GC  SG   %
0               Botafogo >>  43  21  13  4   4  35  20  15  68
1               Flamengo >>  40  20  12  4   4  34  20  14  66
2              Fortaleza >>  39  20  11  6   3  26  19   7  65
3              Palmeiras >>  37  21  11  4   6  28  17  11  58
4               Cruzeiro >>  35  20  11  2   7  29  22   7  58
5             SÃ£o Paulo >>  35  21  10  5   6  29  21   8  55
6                  Bahia >>  32  21   9  5   7  29  25   4  50
7           Athletico-PR >>  28  19   8  4   7  22  20   2  49
8           AtlÃ©tico-MG >>  28  19   7  7   5  28  28   0  49
9             Bragantino >>  26  19   7  5   7  24  23   1  45
10         Vasco da Gama >>  24  20   7  3  10  22  31  -9  40
11             CriciÃºma >>  24  19   6  6   7  28  29  -1  42
12             Juventude >>  22  19   5  7   7  21  25  -4  38
13               GrÃªmio >>  21  19   6  3  10  17  22  -5  36
14              VitÃ³ria >>  21  21   6  3  12  23  32  -9  33
15         Internacional >>  21  16   5  6   5  14  14   0  43
16            Fluminense >>  20  20   5  5  10  16  24  -8  33
17           Corinthians >>  20  21   4  8   9  19  28  -9  31
18               CuiabÃ¡ >>  17  19   4  5  10  19  25  -6  29
19  AtlÃ©tico Goianiense >>  12  21   2  6  13  17  35 -18  19

In [266]:
tabela_brasileirao.columns

Index(['Times.2', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC', 'SG', '%'], dtype='object')

In [268]:
tabela_brasileirao['Times.2']

0                 Botafogo >>
1                 Flamengo >>
2                Fortaleza >>
3                Palmeiras >>
4                 Cruzeiro >>
5               SÃ£o Paulo >>
6                    Bahia >>
7             Athletico-PR >>
8             AtlÃ©tico-MG >>
9               Bragantino >>
10           Vasco da Gama >>
11               CriciÃºma >>
12               Juventude >>
13                 GrÃªmio >>
14                VitÃ³ria >>
15           Internacional >>
16              Fluminense >>
17             Corinthians >>
18                 CuiabÃ¡ >>
19    AtlÃ©tico Goianiense >>
Name: Times.2, dtype: object

In [269]:
tabela_brasileirao = tabela_brasileirao.drop(columns=['Times','Times.1','Times.3'])

KeyError: "['Times', 'Times.1', 'Times.3'] not found in axis"

In [270]:
tabela_brasileirao[['Times.2','V']]

                    Times.2   V
0               Botafogo >>  13
1               Flamengo >>  12
2              Fortaleza >>  11
3              Palmeiras >>  11
4               Cruzeiro >>  11
5             SÃ£o Paulo >>  10
6                  Bahia >>   9
7           Athletico-PR >>   8
8           AtlÃ©tico-MG >>   7
9             Bragantino >>   7
10         Vasco da Gama >>   7
11             CriciÃºma >>   6
12             Juventude >>   5
13               GrÃªmio >>   6
14              VitÃ³ria >>   6
15         Internacional >>   5
16            Fluminense >>   5
17           Corinthians >>   4
18               CuiabÃ¡ >>   4
19  AtlÃ©tico Goianiense >>   2

In [271]:
tabela_brasileirao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Times.2  20 non-null     object
 1   P        20 non-null     int64
 2   J        20 non-null     int64
 3   V        20 non-null     int64
 4   E        20 non-null     int64
 5   D        20 non-null     int64
 6   GP       20 non-null     int64
 7   GC       20 non-null     int64
 8   SG       20 non-null     int64
 9   %        20 non-null     int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB

In [272]:
tabela_brasileirao.describe()

,P,J,V,E,D,GP,GC,SG,%
count,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000
mean,27.25000,19.800000,7.450000,4.900000,7.450000,24.000000,24.00000,0.000000,45.350000
std,8.57705,1.239694,3.051747,1.552587,2.723678,5.973626,5.30144,8.687559,13.468384
min,12.00000,16.000000,2.000000,2.000000,3.000000,14.000000,14.00000,-18.000000,19.000000
25%,21.00000,19.000000,5.000000,4.000000,5.750000,19.000000,20.00000,-6.500000,35.250000
50%,25.00000,20.000000,7.000000,5.000000,7.000000,23.500000,23.50000,0.000000,44.000000
75%,35.00000,21.000000,10.250000,6.000000,10.000000,28.250000,28.00000,7.000000,55.750000
max,43.00000,21.000000,13.000000,8.000000,13.000000,35.000000,35.00000,15.000000,68.000000

 # Estatistica descritiva
 Não confundir info com Describe. Describe - Mostra dados Estatisticos.
 Info é para tipos de dados.

In [273]:
tabela_brasileirao['%']

0     68
1     66
2     65
3     58
4     58
5     55
6     50
7     49
8     49
9     45
10    40
11    42
12    38
13    36
14    33
15    43
16    33
17    31
18    29
19    19
Name: %, dtype: int64

# Agrupar essa coluna % com outra

In [278]:
tabela_brasileirao['%'].mean()

np.float64(45.35)

# Tabular - tabela da página.

In [276]:
tabela_brasileirao.rename(columns = {'Times.2': 'Times'}, inplace=True)

In [277]:
tabela_brasileirao

                      Times   P   J   V  E   D  GP  GC  SG   %
0               Botafogo >>  43  21  13  4   4  35  20  15  68
1               Flamengo >>  40  20  12  4   4  34  20  14  66
2              Fortaleza >>  39  20  11  6   3  26  19   7  65
3              Palmeiras >>  37  21  11  4   6  28  17  11  58
4               Cruzeiro >>  35  20  11  2   7  29  22   7  58
5             SÃ£o Paulo >>  35  21  10  5   6  29  21   8  55
6                  Bahia >>  32  21   9  5   7  29  25   4  50
7           Athletico-PR >>  28  19   8  4   7  22  20   2  49
8           AtlÃ©tico-MG >>  28  19   7  7   5  28  28   0  49
9             Bragantino >>  26  19   7  5   7  24  23   1  45
10         Vasco da Gama >>  24  20   7  3  10  22  31  -9  40
11             CriciÃºma >>  24  19   6  6   7  28  29  -1  42
12             Juventude >>  22  19   5  7   7  21  25  -4  38
13               GrÃªmio >>  21  19   6  3  10  17  22  -5  36
14              VitÃ³ria >>  21  21   6  3  12  23  32  -9  33
15         Internacional >>  21  16   5  6   5  14  14   0  43
16            Fluminense >>  20  20   5  5  10  16  24  -8  33
17           Corinthians >>  20  21   4  8   9  19  28  -9  31
18               CuiabÃ¡ >>  17  19   4  5  10  19  25  -6  29
19  AtlÃ©tico Goianiense >>  12  21   2  6  13  17  35 -18  19

# Usando str.replace
- O replace substitui 
str.replace('>>','',regex=False)
Regex = False: são expressões regulares, Indica que o >> é um texto literal, não uma expressão.

# Usando str.strip
Para remover espaços em branco no inicio e no fim dos dados da coluna usamos str.trip

In [279]:
tabela_brasileirao['Times'] = tabela_brasileirao['Times'].str.replace('>>', '',regex=False).str.strip()

In [280]:
tabela_brasileirao

                   Times   P   J   V  E   D  GP  GC  SG   %
0               Botafogo  43  21  13  4   4  35  20  15  68
1               Flamengo  40  20  12  4   4  34  20  14  66
2              Fortaleza  39  20  11  6   3  26  19   7  65
3              Palmeiras  37  21  11  4   6  28  17  11  58
4               Cruzeiro  35  20  11  2   7  29  22   7  58
5             SÃ£o Paulo  35  21  10  5   6  29  21   8  55
6                  Bahia  32  21   9  5   7  29  25   4  50
7           Athletico-PR  28  19   8  4   7  22  20   2  49
8           AtlÃ©tico-MG  28  19   7  7   5  28  28   0  49
9             Bragantino  26  19   7  5   7  24  23   1  45
10         Vasco da Gama  24  20   7  3  10  22  31  -9  40
11             CriciÃºma  24  19   6  6   7  28  29  -1  42
12             Juventude  22  19   5  7   7  21  25  -4  38
13               GrÃªmio  21  19   6  3  10  17  22  -5  36
14              VitÃ³ria  21  21   6  3  12  23  32  -9  33
15         Internacional  21  16   5  6   5  14  14   0  43
16            Fluminense  20  20   5  5  10  16  24  -8  33
17           Corinthians  20  21   4  8   9  19  28  -9  31
18               CuiabÃ¡  17  19   4  5  10  19  25  -6  29
19  AtlÃ©tico Goianiense  12  21   2  6  13  17  35 -18  19