In [12]:
print("Hello Wolrd!")

Hello Wolrd!

In [13]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from sqlalchemy) (3.0.3)

In [14]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\projetofinal_tarde\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [15]:
import pandas as pd

In [16]:
# Módulo
from sqlalchemy import create_engine

In [17]:
import urllib.parse

In [18]:
import pymysql
import urllib.parse
# definir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host  = 'localhost'
database = 'scooltracker'
# criar uma url de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros
df_alunos.head()

   id        ra  nome  tempoestudo rendafamiliae
0  55  00034549  None            0          None
1  56  00034547  None            0          None
2  57  00034550  None            0          None
3  58  00034551  None            0          None
4  59  00034552  None            0          None

Quais bibliotecas um cientista de dados utiliza?
- Pandas
- NunPy
- Fundamentos de IA (Scikit-Learn)

Material didático
- Pandas e NumPy (Notebooks)
- Pandas (banco de dados)
- Numpy Biblipteca de matemática
-Scikit - Learn (Apostila do Senai) - Elabo0ração de modelos de IA

05/08/2024

- Carregar dados: (ok)

In [19]:
pd.read_sql

<function pandas.io.sql.read_sql(sql, con, index_col: 'str | list[str] | None' = None, coerce_float: 'bool' = True, params=None, parse_dates=None, columns: 'list[str] | None' = None, chunksize: 'int | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>, dtype: 'DtypeArg | None' = None) -> 'DataFrame | Iterator[DataFrame]'>

- Salvar um dataframe:

In [20]:
import pandas as pd

In [21]:
csv_filename = 'alunos.csv'
df_alunos.to_csv('alunos.csv',index=False)

# Eu salvei um dataframe!

Exercicio - Salve um DataFrame em formato JSON

In [22]:
csv_filename = 'api_alunos.json'
df_alunos.to_json (csv_filename, index=False)

In [23]:
! pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [24]:
csv_filename = 'planilha_alunos.xlsx'
df_alunos.to_excel(csv_filename,index=False)

# Um novo DataFrame
[] Colchete = Pesquisas no python.

In [25]:
df_alunos.columns

Index(['id', 'ra', 'nome', 'tempoestudo', 'rendafamiliae'], dtype='object')

In [ ]:
df_tempo_renda = df_alunos[['tempoestudo', 'rendafamiliae']]
df_tempo_renda

# Tipos

In [ ]:
print(type(df_tempo_renda))

Crie um recurso para mostrar apenas uma coluna.Mostre qual tipo desse recurso

In [ ]:

serie_tempo_renda = df_tempo_renda['rendafamiliae']

In [38]:
print(type(series_tempo_renda))

<class 'pandas.core.frame.DataFrame'>